@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display+SC&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/bgcfoto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &__text{
    position: absolute;
    top: 40%;
    left: 10%;
    font-family: $playfair;
    color: white;
    z-index: 1;
    &--arrow { 
      position: absolute;
      bottom: 5%;
      left: calc(50% - 25px);
      font-size: 50px;
      color: white;
      z-index: 1;
    }
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 10vh;
  grid-template-areas: "logo text navbar" "navigation navigation navigation";
  position: fixed;
  left: 0;
  top: 0;
  background-color: $blue;
  &__logo{  width: 50%;
    grid-area: logo;
    margin: 10px;
  }
}

.header__text {
  grid-area: text;
  color: white;
  text-transform: uppercase;
  font-family: $playfair;
  font-size: 26px;
}

.header__navbar {
  color: white;
  grid-area: navbar;
  justify-self: end;
  background: transparent;
  border: 0;
  margin: 12px;
  width: 50px;
  height: 40px;
  border-top: 5px solid white;
  position: relative;
  transition: 0.3s transform linear;
  z-index: 2;
}

.header__navbar::before, .header__navbar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 5px solid white;
  transform: translateY(10px)
}

.header__navbar::after {
  transform: translateY(25px);
  transition: 0.3s transform linear;
}

.header__navbar--active {
  transform: rotate(45deg) translateY(5px);
  border: none;
}

.header__navbar--active::after {
  transform: rotate(-90deg) translateX(-10px);
}

.header__navigation {
  margin-top: -2px;
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
  grid-area: navigation;
  background-color: $blue;
  transition: 0.3s transform linear;
&--active {
  transform: translateX(0);
  transition: 0.3s transform linear;
}
}

.header__list{
list-style: none;
margin: 14px;
}
.header__link{
  text-decoration: none;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  font-family: $lato;
}


  

